@import "colorpalette";
.portfolioContainer {
  padding: 113px 0px 20px 0px;
  @include mobile {
    padding: 70px 0px 20px 0px;
  }
}
.portfolio-btn-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.portfolio-row {
  display: flex;
  gap: 41px;
  align-items: center;
  margin-bottom:41px;
  justify-content: center;
  @include laptops {
    gap: 29px;
  margin-bottom:29px;

  }
  @include medium {
    // gap: 29px;
    flex-wrap: wrap;
  }
  // flex-wrap: wrap;
}
.prot-row-spacing {
  margin-top: 41px;
  @include laptops {
    margin-top: 29px;
  }
}
.portfiolio-card-box {
  padding: 91px 0px 132px 0px;
  @include mobile {
    padding: 53px 0px 62px 0px;
  }
}
.portfolioCard {
  background-color: $darkblue;
  padding: 22px;
  width: max-content;
  border-radius: 12px;
  .thumbContainer{
    display: flex;
    align-items: center;
    gap: 13px;
  }
  .infoContainer{
    display: flex;
    justify-content: space-between;
    // width: 100%;
    align-items: center;
    gap: 10px;
  }
  @include mobile {
    width: 100%;
  }
  .portfolioCardWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    h4{
      margin-bottom: 0px !important;
    }
  }
  .portfolioImg {
    width: 541px;

    height: 392px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    @include largeScreen {
      width: 438px;
      height: 326px;
    }
    @include mobile {
      width: 100%;
      height: 326px;
    }
  }
}
